name: Run Tests in Docker

on:
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - run: docker build -t autotests-clean .
      - run: docker run --rm autotests-clean